package services

import (
	"context"

	"github.com/kodia-studio/kodia/internal/core/domain"
	"github.com/kodia-studio/kodia/internal/core/ports"
	"go.uber.org/zap"
)

type {{.LowerName}}Service struct {
	repo ports.{{.Name}}Repository
	log  *zap.Logger
}

func New{{.Name}}Service(repo ports.{{.Name}}Repository, log *zap.Logger) ports.{{.Name}}Service {
	return &{{.LowerName}}Service{
		repo: repo,
		log:  log,
	}
}

func (s *{{.LowerName}}Service) GetAll(ctx context.Context, params ports.PaginationParams) ([]*domain.{{.Name}}, int, error) {
	return s.repo.GetAll(ctx, params)
}

func (s *{{.LowerName}}Service) GetByID(ctx context.Context, id uint64) (*domain.{{.Name}}, error) {
	return s.repo.GetByID(ctx, id)
}

func (s *{{.LowerName}}Service) Create(ctx context.Context, item *domain.{{.Name}}) error {
	// Add business logic/validation here
	return s.repo.Create(ctx, item)
}

func (s *{{.LowerName}}Service) Update(ctx context.Context, item *domain.{{.Name}}) error {
	// Add business logic/validation here
	return s.repo.Update(ctx, item)
}

func (s *{{.LowerName}}Service) Delete(ctx context.Context, id uint64) error {
	return s.repo.Delete(ctx, id)
}
